body{
  background-color: black ;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App {
  text-align: center;
}

.title {
  color: darkorange;
}
.btn {
  border-radius: 3px;
  background-color: brown;
  height: 30px;
  width: 80px;
}